[submodule "themes/docdock"]
	path = themes/docdock
	url = https://github.com/vjeantet/hugo-theme-docdock.git
[submodule "public"]
	path = public
	url = https://github.com/Informasjonsforvaltning/Informasjonsforvaltning.github.io.git
